{{ define "main" }}
<section class="section container-fluid fold">
    <div class="row justify-content-center">
        <div class="col-lg-10 text-center">
            <h2 class="mt-0 heading">Inter Planetary Network Indexer</h2>
            <h4 class="subheading">Cras posuere porttitor vulputate. Aliquam eu maximus leo, id ullamcorper nibh. Ut eget augue elit. Mauris ac nunc eros. Aenean scelerisque, sapien quis gravida posuere, metus enim maximus odio, quis ullamcorper nibh diam et lacus. Nam leo lorem, lobortis tincidunt lorem nec, rhoncus condimentum enim. Curabitur dictum consectetur sapien in elementum.</h4>
        </div>
    </div>
</section>
    
<section class="section container-fluid why-ipni">
    <div class="row justify-content-center">
        <div class="col-lg-6 text-center pt-3 d-none d-lg-block">
          <img src="/images/ipni.svg" />
        </div>
        <div class="col-lg-8 content">
            <h2 class="mt-0">Inter Planetary Network Indexer</h2>
            <p>The InterPlanetary Network Indexer (IPNI) is a content routing ecosystem, comprised of a set of protocols that allow:</p>
            <ol>
                <li>Content providers to advertise the content they host</li>
                <li>Network participants to facilitate content provider discovery and retrieval protocol by ingesting those advertisements.</li>
            </ol>
            <p>IPNI protocols are designed to be extensible: they are agnostic of retrieval protocol and can be extended to support any retrieval mechanism without the need for centralised consensus, or change to the core advertisement structure.</p>
            <p>The advertisements are designed to offer a verifiable catalogue of content hosted by a provider over time as a collection of <a href="https://github.com/multiformats/multihash"><b>multihahses</b></a>. The protocol offers support for multihash grouping, provider address change, retrieval protocol change, and separation of content provider from content advertiser, a.k.a. publisher, without the need for re-advertisement.</p>
            <p>IPLD is the data model of the content-addressable web. It allows us to treat all hash-linked data structures as subsets of a unified information space, unifying all data models that link data with hashes as instances of IPLD.</p>
        </div>
    </div>
</section>

<section class="section container-fluid partners">
  <div class="row justify-content-center">
    <div class="col-12"><h3 class="section-heading">our partners</h3></div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6 col-md-3">
      <img src="/images/kenlabs-logo.svg" alt="">
    </div>
    <div class="col-6 col-md-3">
      <img src="/images/kenlabs-logo.svg" alt="">
    </div>
    <div class="col-6 col-md-3">
      <img src="/images/kenlabs-logo.svg" alt="">
    </div>
    <div class="col-6 col-md-3">
      <img src="/images/kenlabs-logo.svg" alt="">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6 col-md-3">
      <img src="/images/kenlabs-logo.svg" alt="">
    </div>
    <div class="col-6 col-md-3">
      <img src="/images/kenlabs-logo.svg" alt="">
    </div>
    <div class="col-6 col-md-3">
      <img src="/images/kenlabs-logo.svg" alt="">
    </div>
    <div class="col-6 col-md-3">
      <img src="/images/kenlabs-logo.svg" alt="">
    </div>
  </div>
</section>

<section class="section container-fluid media">
  <div class="row justify-content-center content">
    <div class="col-14 col-xl-8 main-video">
      <div class="section-heading">Media</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at venenatis risus. Proin elementum finibus urna id sodales. Fusce venenatis diam sit amet sagittis vulputate. Aliquam erat volutpat.</p>
      <video width="80%" height="auto" controls>
        <source src="" type="https://www.youtube.com/watch?v=ZDXsQPTEguY">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="col-12 col-xl-8 d-none d-lg-block">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-8">
            <video width="320" height="240" controls>
              <source src="" type="https://www.youtube.com/watch?v=ZDXsQPTEguY">
              Your browser does not support the video tag.
            </video>
          </div>
          <div class="col-8">
            <video width="320" height="240" controls>
              <source src="" type="https://www.youtube.com/watch?v=ZDXsQPTEguY">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-8">
            <video width="320" height="240" controls>
              <source src="" type="https://www.youtube.com/watch?v=ZDXsQPTEguY">
              Your browser does not support the video tag.
            </video>
          </div>
          <div class="col-8">
            <video width="320" height="240" controls>
              <source src="" type="https://www.youtube.com/watch?v=ZDXsQPTEguY">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="image-container-1">
    <img src="/images/ipni-logo-transparent.png" alt="">
  </div>
  <div class="image-container-2">
    <img src="/images/ipni-logo-transparent.png" alt="">
  </div>
  <div class="image-container-3">
    <img src="/images/ipni-logo-transparent.png" alt="">
  </div>
</section>

{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
    <div class="row justify-content-center text-center">
        <div class="col-lg-9">
            {{- .Content -}}
        </div>
    </div>
</section>
{{ end }}
